.dashboard-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }


.dashboard-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logout-button {
    padding: 10px 20px;
    font-size: 16px;
    font-size: 1rem;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .logout-button:hover {
    background-color: #e63946;
  }